<body>
  <h1>Where Can I Watch?</h1>
  <div [@fadeIn] class="container main-content">
    <div class="row">
      <div class="col-lg-8 col-12">
        <div class="inputs">
          <span class="material-symbols-outlined" (click)="searchMovies()">
            search
          </span>
          <input
            type="text"
            class="movie-input"
            maxlength="40"
            placeholder="Name of movie or TV show"
            [(ngModel)]="userInput"
          />
        </div>
      </div>
      <div class="col-lg-4 col-12">
        <div class="buttons">
          <span
            class="material-symbols-outlined"
            (click)="toggleCountryDialog = true"
          >
            settings
          </span>
          <button (click)="searchMovies()">SEARCH</button>
        </div>
      </div>
    </div>

    <div class="content" *ngIf="searching">
      <div class="tagline">
        <p (click)="clearSearch()">Clear</p>
      </div>
      <div *ngIf="!searchResults!.length">
        <i>No results for your search term.</i>
      </div>
      <div
        *ngFor="let item of searchResults"
        class="result-item"
        (click)="findProviders(item)"
      >
        <img
          *ngIf="item.poster_path"
          src="https://image.tmdb.org/t/p/original{{ item.poster_path }}"
          alt="itemPoster"
        />
        <img
          *ngIf="!item.poster_path"
          src="../../../assets/images/posterPlaceholder.jpg"
          alt="itemPoster"
        />
        <div>
          <h2>
            {{ item.title ? item.title : item.name }}
          </h2>
          <p>
            <span class="material-symbols-outlined"> event </span>
            <strong>
              {{
                item.first_air_date
                  ? formatDate(item?.first_air_date!)
                  : formatDate(item?.release_date!)
              }}</strong
            >
          </p>
          <p>
            <span class="material-symbols-outlined"> star </span>
            <strong> {{ item.vote_average }}</strong>
          </p>
          <p>{{ item.overview }}</p>
        </div>
      </div>
    </div>
  </div>

  <i *ngIf="!searchResults!.length" class="site-description"
    >This website is made as an extension to
    <a href="https://www.cinemaholic.vercel.app" target="_blank">Cinemaholic</a>
    movie and TV database. Check it out if you want to learn about movies and TV
    shows.
  </i>
</body>

<div *ngIf="toggleCountryDialog" [@fadeIn] class="item-window">
  <div [@inAnimation] class="window">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <p class="text-left">Current region:</p>
        </div>
        <div class="col-6">
          <p style="text-align: right; font-weight: 700">
            {{ chosenCountry.english_name?.toUpperCase() }}
          </p>
        </div>
      </div>
      <hr />
      <input
        type="text"
        class="country-input"
        style="width: 100%"
        placeholder="Search other regions"
        [(ngModel)]="searchTerm"
      />
      <div class="container country-results" id="scrollbar-style">
        <div
          class="row"
          *ngFor="let item of countries! | search : 'english_name' : searchTerm"
        >
          <div class="col">
            <div class="result" (click)="changeChosenCountry(item)">
              {{ item.english_name }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <button
      [@inAnimation]
      class="close-btn"
      (click)="toggleCountryDialog = false; searchTerm = ''"
    >
      OK
    </button>
  </div>
</div>

<div *ngIf="toggleItemDialog" [@fadeIn] class="item-window">
  <div [@inAnimation] class="window p-0">
    <div class="container text-center">
      <div class="row mt-2">
        <i>WHERE CAN I WATCH?</i>
        <h2>
          {{ chosenItem.title ? chosenItem.title : chosenItem.name }}
        </h2>
        <i>in {{ chosenCountry.english_name }}</i>
      </div>
      <hr />
      <div
        *ngIf="
          !chosenItemProviders.buy &&
          !chosenItemProviders.flatrate &&
          !chosenItemProviders.rent
        "
        class="row pt-5"
      >
        <i>
          Unfortunately, you cannot watch this title anywhere in the selected
          region.
        </i>
      </div>
      <div class="row">
        <div *ngIf="chosenItemProviders.flatrate" class="col">
          <p>Stream</p>
        </div>
        <div *ngIf="chosenItemProviders.buy" class="col"><p>Buy</p></div>
        <div *ngIf="chosenItemProviders.rent" class="col"><p>Rent</p></div>
      </div>
      <div class="row">
        <div *ngIf="chosenItemProviders.flatrate" class="col">
          <img
            class="provider-logo-img"
            *ngFor="let p of chosenItemProviders.flatrate"
            src="https://image.tmdb.org/t/p/original{{ p.logo_path }}"
            alt=""
          />
        </div>
        <div *ngIf="chosenItemProviders.buy" class="col">
          <img
            class="provider-logo-img"
            *ngFor="let p of chosenItemProviders.buy"
            src="https://image.tmdb.org/t/p/original{{ p.logo_path }}"
            alt=""
          />
        </div>
        <div *ngIf="chosenItemProviders.rent" class="col">
          <img
            class="provider-logo-img"
            *ngFor="let p of chosenItemProviders.rent"
            src="https://image.tmdb.org/t/p/original{{ p.logo_path }}"
            alt=""
          />
        </div>
        <div class="header">
          <div id="gradient"></div>
          <img
            *ngIf="chosenItem.backdrop_path"
            src="https://image.tmdb.org/t/p/original{{
              chosenItem.backdrop_path
            }}"
            alt="itemPoster"
            class="backdrop-img"
          />
        </div>
        <button
          [@inAnimation]
          class="close-btn"
          (click)="toggleItemDialog = false"
        >
          CLOSE
        </button>
      </div>
    </div>
  </div>
</div>
