<body>
  <h1>DI MOGU GLEDAT?</h1>
  <div class="container">
    <div class="controls">
      <input
        type="text"
        class="movie-input"
        maxlength="40"
        placeholder="Upiši naziv"
      />
      <select name="item-select" id="item-select">
        <option value="movies">Filmovi</option>
        <option value="shows">Serije</option>
      </select>
      <div class="country-select"></div>
      <span class="material-symbols-outlined"> search </span>
    </div>
  </div>
</body>

<div class="item-window"></div>
