<body>
  <h1>DI MOGU GLEDAT?</h1>
  <div class="container">
    <div class="controls">
      <input
        type="text"
        class="movie-input"
        maxlength="40"
        placeholder="Upiši naziv"
      />
      <button class="btn btn-primary" (click)="toggleItemDialog = true">
        {{ chosenItem.name }}
      </button>
      <button class="btn btn-primary" (click)="toggleCountryDialog = true">
        <img
          src="../../../assets/images/{{ chosenCountry.locale }}.webp"
          alt=""
        />
      </button>
      <span class="material-symbols-outlined"> search </span>
    </div>
  </div>
</body>

<div *ngIf="toggleItemDialog" class="item-window">
  <div [@inOutAnimation] class="window">
    <div class="item" *ngFor="let item of items" (click)="changeItem(item)">
      {{ item.name?.toUpperCase() }}
    </div>
  </div>
</div>
<div *ngIf="toggleCountryDialog" class="item-window">
  <div [@inOutAnimation] class="window country">
    <div
      class="item"
      *ngFor="let country of countries"
      (click)="changeCountry(country)"
    >
      {{ country.name?.toUpperCase() }}
    </div>
  </div>
</div>
