@import "../../../styles.scss";

body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: $background;
  display: flex;
  align-items: center;
  flex-direction: column;
  h1 {
    font-family: "Graduate", cursive;
    position: absolute;
    color: $window-background;
    top: 0;
    bottom: 0;
    margin: 24px 0;
    user-select: none;
  }
}
.container {
  font-family: "Offside", cursive;
  z-index: 0;
  margin-top: 92px;
  width: 100%;
  min-height: 92px;
  background-color: $window-background;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: 0.2s ease-out;
}
span {
  user-select: none;
  cursor: pointer;
  font-weight: bolder;
  transition: 0.3s ease-in-out;
  display: flex;
  justify-content: flex-end;
  &:hover {
    color: $background;
  }
}
.buttons {
  span {
    margin: 22px 0;
    font-size: 48px;
  }
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 0 auto;
  :nth-child(1) {
    margin-right: 6%;
    width: 10%;
  }
  :nth-child(2) {
    width: 84%;
  }
}
.inputs {
  span {
    margin: 22px 0;
    font-size: 48px;
  }
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 0 auto;
  :nth-child(1) {
    margin-right: 6%;
    width: 10%;
  }
  :nth-child(2) {
    width: 84%;
  }
}
button {
  margin: 22px 0;
  height: 48px;
  width: 48%;
  color: white;
  background-color: $font;
  border: 1px solid $font;
  border-radius: 16px;
  transition: 0.2s ease-in-out;
  &:hover {
    background-color: $background;
    border: 1px solid $background;
  }
}
.movie-input {
  margin-right: 2%;
  width: 100%;
  height: 48px;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  border-right: 3px solid $font;
  transition: 0.2s ease-in-out;
  margin: 22px 0;
  &:focus {
    outline: none;
    font-size: 1.75rem;
  }
  @media only screen and (max-width: 992px) {
    border-right: none;
  }
  @media only screen and (max-width: 500px) {
    font-size: 1.2rem;
    &:focus {
      font-size: 1.3rem;
    }
  }
}
.item-window {
  position: absolute;
  z-index: 1;
  background: rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  .window {
    width: 400px;
    height: 300px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: $window-background;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    padding-top: 48px;
    padding-bottom: 48px;
    .item {
      height: 100px;
      width: 90%;
      margin: 6px auto;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      border-radius: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: 0.2s ease-in-out;
      color: $font;
      &:hover {
        transform: scale(1.05);
      }
    }
  }
}
.chosen {
  border: 3px solid $background;
}
.content {
  width: 95%;
  margin: 0 auto 24px;
  border-top: 1px solid $font;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .result-item {
    width: 100%;
    margin-bottom: 24px;
    color: $font;
    border-radius: 16px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.2s ease-in-out;
    &:hover {
      transform: scale(1.01);
    }
    img {
      width: 200px;
      height: 300px;
      border-radius: 16px 0 0 16px;
    }
    div {
      margin-left: 2%;
      margin-top: 12px;
      width: 78%;
      h2 {
        font-family: "Graduate", cursive;
      }
      p {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 4px 0;
      }
    }
  }
}
.tagline {
  width: 100%;
  color: $font;
  user-select: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 12px;
  margin-top: 12px;
  p {
    cursor: pointer;
    &:hover {
      color: $background;
      text-decoration: underline;
    }
  }
}
