@import "../../../styles.scss";

body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: $background-dark-black;
  display: flex;
  align-items: center;
  flex-direction: column;
  h1 {
    font-family: "Graduate", cursive;
    position: absolute;
    color: $font;
    top: 0;
    bottom: 0;
    margin: 24px 0;
    user-select: none;
  }
  #no-results {
    color: $font;
  }
}
