/* You can add global styles to this file, and also import other style files */
@import "./assets/styles/scrollbar";
@import "./assets/styles/variables";
@import "./assets/styles/main";
@import "./assets/styles/windows";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
app-main {
  width: 100%;
}
