/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
app-main {
  width: 100%;
}
$background: #0353a4;
$font: #061a40;
$window-background: #b9d6f2;
$icons: #006daa;
