@import "./variables";

#scrollbar-style::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: $font;
}

#scrollbar-style::-webkit-scrollbar {
  width: 5px;
  background-color: $font;
}

#scrollbar-style::-webkit-scrollbar-thumb {
  background-color: $button-red;
  border: 2px solid $button-red;
}
